<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nightwind.tcfl" >

    <!-- Include following permission if you load images from Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/kenan"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ContentActivity"
            android:label="@string/title_activity_content" >
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".activity.FriendsActivity"
            android:label="@string/title_activity_friends" >
        </activity>
        <activity
            android:name=".activity.AddArticleActivity"
            android:label="@string/title_activity_add_article" >
        </activity>
        <activity
            android:name=".activity.AddCommentActivity"
            android:label="@string/title_activity_add_comment" >
        </activity>
        <activity
            android:name=".activity.MyCollectionActivity"
            android:label="@string/title_activity_my_collection" >
        </activity>
        <activity
            android:name=".activity.MyActicleActivity"
            android:label="@string/title_activity_my_acticle" >
        </activity>
    </application>

</manifest>
